*{
    background-color: pink;
}

header h1{
    text-align: center;
    text-shadow:  0.06em 0.01em red;
}

section{
    text-align: center;
}

.bord{
    border: 1px solid orange;
}

.texto{
    background-color: #fff;
    padding: 15px;
    margin:  0 0 15px 0;
}

article img{
    width: 400px;
    border-radius: 7px;
    box-shadow: 5px 3px 15px orange;
}

footer h4{
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
}